html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group {
    padding-bottom: 10px;
}
.btn_margin{
    margin-top:10px
}
.text-bg-primary {
    color: #fff !important;
    background-color: RGBA(var(--bs-primary-rgb),var(--bs-bg-opacity,1)) !important;
}
input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}
.form-control[readonly] {
    background-color: #fff;
}
.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}
.form-registration {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}